.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  max-width: 750px;
  width: 100%;
  height: 100vh;
  padding: 45px 0px;
}

.home-title {
  font-size: 28px;
  margin-bottom: 35px;
}

.home-inner {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.home-gradient-card {
  position: relative;
  cursor: pointer;
}

.home-gradient-card:hover {
  opacity: 0.9;
}

.home-gradient-card img {
  width: 360px;
  height: 200px;
  border-radius: 5px;
}

.home-gradient-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.home-gradient-text h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.home-gradient-text p {
  font-size: 14px;
}

.home-other-apps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.home-other-app {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.home-other-icon {
  padding: 15px;
  height: 54px;
  width: 54px;
  border-radius: 5px;
}

.home-other-app:hover .home-other-icon svg {
  scale: 1.2;
}

.home-other-text p {
  color: #7d7d8d;
}
