.sidebar-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--sidebar-bg);
}

.new-chat {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(141, 141, 141, 0.4);
  border-radius: 6px;
  gap: 10px;
  cursor: pointer;
  flex: 0.1;
}

.new-chat span {
  padding-bottom: 3px;
}

.select-models {
  flex: 3;
  padding: 20px 0px;
}

.select-models h3 {
  margin-bottom: 18px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}

.item-wrapper {
  padding: 2px 0px;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 5px;
}

.item-container:hover {
  background: rgba(238, 238, 238, 0.08);
  border-radius: 6px;
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }

  .sidebar-container.show-sidebar {
    display: flex;
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  .close-nav {
    position: absolute;
    left: 320px;
    top: 20px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
  }
}

@media (max-width: 360px) {
  .sidebar-container.show-sidebar {
    width: 250px;
  }

  .close-nav {
    left: 265px;
  }
}
