.sidebar-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--sidebar-bg);
}

.new-chat {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(141, 141, 141, 0.4);
  border-radius: 6px;
  gap: 10px;
  cursor: pointer;
}

.new-chat:hover {
  border: 1px solid rgba(141, 141, 141, 0.95);
}

.other-chats {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  flex-grow: 1;
  flex: 3;
  margin: 15px 0px;
}

.select-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 10px;
  background-color: var(--sidebar-bg);
}

.options-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar-options-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar-options {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.options-helper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.option-helper {
  padding: 10px;
  background: var(--chat-bg-secondary);
  border-radius: 5px;
}

.item-wrapper {
  padding: 2px 0px;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}

.item-container:hover {
  background: rgba(238, 238, 238, 0.08);
  border-radius: 6px;
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }

  .sidebar-container.show-sidebar {
    display: flex;
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  .close-nav {
    position: absolute;
    left: 320px;
    top: 20px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
  }
}

@media (max-width: 360px) {
  .sidebar-container.show-sidebar {
    width: 250px;
  }

  .close-nav {
    left: 265px;
  }
}
