.chat-header-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: var(--chat-bg-primary);
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  z-index: 999;
}

.chat-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0px 15px;
}

@media (min-width: 768px) {
  .chat-header-container {
    display: none;
  }
}
