.chat-input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border-top-width: 1px;
  border-color: rgb(255 255 255 / 0.2);
  background-image: linear-gradient(
    180deg,
    rgba(53, 55, 64, 0),
    rgba(53, 55, 64, 0.9) 50.85%
  );
}

.chat-input-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  background-color: #40414f;
  border: 1px solid #252525;
  border-radius: 5px;
  width: 730px;
  margin: 0 auto;
}

.chat-input-inner textarea {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: white;
  padding: 14px;
  font-size: 16px;
  resize: none;
  font-family: inherit;
  letter-spacing: 0.5;
}

@media (max-width: 980px) {
  .chat-input-inner {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .chat-input-container {
    position: sticky;
    border-top-width: 0px;
    border-color: transparent;
    height: 80px;
  }
}
